<?xml version="1.0" encoding="utf-8" ?>

<routes>
    <route path="/" action="index" controller="PostController"/>
    <route path="show" action="show" controller="PostController" params="id"/>
    <route path="remove" action="remove" controller="PostController" params="id"/>
    <route path="author" action="author" controller="PostController"/>
    <route path="create" action="create" controller="PostController"/>
    <route path="signup" action="signup" controller="UserController"/>
    <!-- Liste des utilisateurs -->
    <route path="users" action="AllUsers" controller="UserController"/>
    <route path= "remove" action="removeUser" controller="UserController" params="id_user"/>
</routes>